<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>userLoginServlet</servlet-name>
    <servlet-class>servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLoginServlet</servlet-name>
    <url-pattern>/user/page/userLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userRegistServlet</servlet-name>
    <servlet-class>servlet.UserRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegistServlet</servlet-name>
    <url-pattern>/user/page/userRegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>allBookServlet</servlet-name>
    <servlet-class>servlet.AllBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allBookServlet</servlet-name>
    <url-pattern>/user/page/AllBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>detailServlet</servlet-name>
    <servlet-class>servlet.DetailBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailServlet</servlet-name>
    <url-pattern>/user/page/DetailBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userLogOutServlet</servlet-name>
    <servlet-class>servlet.UserLogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogOutServlet</servlet-name>
    <url-pattern>/user/page/userLogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkUpwdServlet</servlet-name>
    <servlet-class>servlet.CheckUpwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkUpwdServlet</servlet-name>
    <url-pattern>/user/page/checkUpwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkUnameServlet</servlet-name>
    <servlet-class>servlet.CheckUnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkUnameServlet</servlet-name>
    <url-pattern>/user/page/userCheckUnameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addBookToCartServlet</servlet-name>
    <servlet-class>servlet.AddBookToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBookToCartServlet</servlet-name>
    <url-pattern>/user/page/addBookToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>allCartServlet</servlet-name>
    <servlet-class>servlet.AllCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allCartServlet</servlet-name>
    <url-pattern>/user/page/allCartServlet</url-pattern>
  </servlet-mapping>
</web-app>